<html>
  <head></head>
  <body>
  <h1> <a href ="/artists"> Artists -  </a> <a href = "/albums"> Albums </a> </h1>

    <div>
      <a href="/albums/1">Pixies</a>: <%= @album[0].title %> -  
      Released: <%= @album[0].release_year %>
    </div>

    <div>
      <a href="/albums/2">Pixies</a>: <%= @album[1].title %> -  
      Released: <%= @album[1].release_year %>
    </div>

    <div>
      <a href="/albums/3">ABBA</a>: <%= @album[2].title %> -  
      Released: <%= @album[2].release_year %>
    </div>

    <div>
      <a href="/albums/4">ABBA</a>: <%= @album[3].title %> -  
      Released: <%= @album[3].release_year %>
    </div>

    <div>
      <a href="/albums/5">Pixies</a>: <%= @album[4].title %> -  
      Released: <%= @album[4].release_year %>
    </div>

    <div>
      <a href="/albums/6">Taylor Swift</a>: <%= @album[5].title %> -  
      Released: <%= @album[5].release_year %>
    </div>

    <div>
      <a href="/albums/7">Taylor Swift</a>: <%= @album[6].title %> -  
      Released: <%= @album[6].release_year %>
    </div>

    <div>
      <a href="/albums/8">Nina Simone</a>: <%= @album[7].title %> -  
      Released: <%= @album[7].release_year %>
    </div>

    <div>
      <a href="/albums/9">Nina Simone</a>: <%= @album[8].title %> -  
      Released: <%= @album[8].release_year %>
    </div>

    <div>
      <a href="/albums/10">Nina Simone</a>: <%= @album[9].title %> -  
      Released: <%= @album[9].release_year %>
    </div>

    <div>
      <a href="/albums/11">Nina Simone</a>: <%= @album[10].title %> -  
      Released: <%= @album[10].release_year %>
    </div>

    <div>
      <a href="/albums/12">Massive Attack</a>: <%= @album[11].title %> -  
      Released: <%= @album[11].release_year %>
    </div>

    <div>
      <a href="/albums/13">Mac Miller</a>: <%= @album[12].title %> -  
      Released: <%= @album[12].release_year %>
    </div>

  </body>
</html>