<html>
    <head></head>
    <body>
        <h1> <a href ="/artists"> Artists -  </a> <a href = "/albums"> Albums </a> </h1>

        <div>
        <a href ="/artists/1"> <%= @artist[0].name %> </a>
        </div>

        <div>
        <a href ="/artists/2"> <%= @artist[1].name %> </a>
        </div>

        <div>
        <a href ="/artists/3"> <%= @artist[2].name %> </a>
        </div>

        <div>
        <a href ="/artists/4"> <%= @artist[3].name %> </a>
        </div>

        <div>
        <a href ="/artists/5"> <%= @artist[4].name %> </a>
        </div>

        <div>
        <a href ="/artists/6"> <%= @artist[5].name %> </a>
        </div>
    </body>
</html>